<% include common/header.ejs %>
<body>
<div class="Herb-garden-create">
    <div class="welcome-message">
        <div class="title">Create your own Herb Garden</div>
    </div>
</div>
<div>
    <div class="my-garden">
        <div class="description">
            <h1 class="title-windowsill">What is a Herb Windowsill Garden</h1>
            <p class="about">
                Have you ever dreamed of having a garden of your own, but didn't have the place for one, live in the city, or don't have
                strength or health for gardening work? Well, you can have it on your windowsill! It doesn't have to be big, you can make
                it as big as you want (or as big as your windowsill will allow it).

                One kind of windowsill garden that you can create is a herb garden. You can grow your favourite herbs right on your windowsill.
                You can arrange them in many different ways. It is all up to you. Herbs not only can decorate your home, but they are bring
                huge benefits.
            </p>
        </div>
        <h1 class="title-windowsill">Some Herbs</h1>
        <div class="row garden-container" id="herbs">

        </div>
        <div class="row">
            <div class="shop">
                <a href="https://strictlymedicinalseeds.com/">Shop Online Herbs</a>
            </div>
            <div class="shop">
                <a href="http://companionplants.com/index.php">Shop Online Herbs</a>
            </div>
        </div>
        <div class="explanation-message">
            <p>
                Created by Vera Didenko
            </p>
        </div>
    </div>
    <% include common/top_panel.ejs %>
</div>
<% include common/footer.ejs %>