<% include common/header.ejs %>

<body>
<div class="succulent-garden">
    <div class="welcome-message">
        <div class="title">Create your own Windowsill Garden</div>
    </div>
</div>
<div class="my-garden">
    <div class="garden-container">
        <div class="row" id="tutorials_list"></div>
    </div>
    <div class="explanation-message">
        <p>
           Created by Vera Didenko
        </p>
    </div>
</div>
<% include common/top_panel.ejs %>
<% include common/footer.ejs %>