<% include common/header.ejs %>
<body>
<div>
    <div class="my-garden">
        <div class="description">
            <h1 class="title-windowsill">Tutorials</h1>
            <p class="about">
                Take a look at some very helpful tutorials to help you get started with your windowsill garden.
            </p>
        </div>
        <div class="row garden-container">
            <h1 class="title-windowsill">DIY Flower Planters</h1>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/ZiNGDsMP1mA"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/cAEYHc5dzfs"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/Kyylg2_ZR_c"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/2Soadyi_WOI"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/26RDFMMf0wg"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/mgcpeTeiztw"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/zK2As8IAvm4"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/5itjvz9is98"></iframe>
            <h1 class="title-windowsill">Succulents 101</h1>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/IZ5KX5wIYTk"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/f8nsXcxySig"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/cFnkv2Cl0E8"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/KhVM0aSpirY"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/Hhjb0L3hc2I"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/QsglCWnDxzY"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/7WfZIz9_j8I"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/BbU5cMZoECM"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/fWPngHpUE-M"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/qbYbI-uGEyg"></iframe>
            <h1 class="title-windowsill">Flowers 101</h1>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/Z6BUwRE3_Rw"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/yseaPpV6pHQ"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/Wz6G6s3KbZ4"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/FP5qv5s9vQA"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/0auIZRoJPS8"></iframe>
            <h1 class="title-windowsill">Herbs 101</h1>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/YllaxS_FOhE"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/R65brNJKPZI"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/k9LYo2WAQus"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/AQwLpS_JYeM"></iframe>
                <iframe class="tutorial" width="420" height="345" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/_bNfgwPz_7Q"></iframe>
        </div>
        <div class="explanation-message">
            <p>
                Created by Vera Didenko
            </p>
        </div>
    </div>
    <% include common/top_panel.ejs %>
</div>
<% include common/footer.ejs %>