<div class="top-panel">
    <div class="top-part-of-top-panel">
        <img class="img succulent" src="/assets/images/succulent_cut_out_free_to_use_by_kibblywibbly-d8gy4w6.png">
    </div>
    <div class="bottom-part-of-top-panel">
        <div class="btn btn-link link-home "  onclick="location.href='/'">CreativeMind</div>
    </div>
</div>


